body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

html {
    font-family: 'Gloria Hallelujah', cursive;
}

input::-webkit-input-placeholder,textarea::-webkit-input-placeholder {
color: #8C8C8C;; !important;
/*font-size: 30px;*/
}

input:-moz-placeholder,textarea:-moz-placeholder {
  color: #8C8C8C; !important;
  /*font-size: 30px;*/
}

input::-moz-placeholder,textarea::-moz-placeholder {
  color: #8C8C8C; !important;
  /*font-size: 30px;*/
}

input::-ms-input-placeholder,textarea:-ms-input-placeholder {
  color: #8C8C8C; !important;
  /*font-size: 30px;*/
}

a{
  color: black;
}
