.recipeCotainer{
    /*height: 100px;*/
    margin-top: 2em;
}

.recipeBigCotainer{
  /*height: 600px;*/
  margin-top: 2em;
}

.sub{
  text-decoration: underline;
}

.noPointer{
  cursor : default !important;
}

.chefNameRecipe{
  font-size: 1rem !important;
}

.recipe{
  height: 100%;
  border: 2px solid #9E6E71;
  background-color: rgba(212, 218, 123, 0.85);
  background-image: url("../img/recipe.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.recipe:hover{
  cursor: pointer;
  border-color:#6F4C4C;
}

.iconCategory{
  height: 40px;
  position: relative;
  top: -20px;
  right: -20px;
  float: right;
}

.iconCategoryLarge{
  height: 80px;
  position: relative;
  top: -40px;
  right: -40px;
  float: right;
}

/*** Effects for list in React ***/

.effectList-enter {
  opacity: 0.01;
}

.effectList-enter.effectList-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.effectList-leave {
  opacity: 1;
}

.effectList-leave.effectList-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.effectList-appear {
  opacity: 0.01;
}

.effectList-appear.effectList-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}
/******************************************/


@media only screen and (min-width: 993px) {
  .titleRecipe{
    font-size: 1.5rem;
  }
}

@media only screen and (min-width: 600px) and (max-width: 992px) {
  .titleRecipe{
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 600px) {
  .titleRecipe{
    font-size: 2rem;
  }
}

.borderCool{
  border: 2px solid #C58900;
}

.borderCool2{
  border: 2px solid #3B7345;
}
