.mb30{
  margin-bottom: 30px;
}

.mt30{
  margin-top: 30px;
}

.mt10{
  margin-top: 10px;
}

.title{
  font-weight: 300;
  letter-spacing: 0.3rem;
  color: #624025;
  margin-top: 0px;
}

.background{
  background-image: url(../img/lienzo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  /*filter: blur(8px);
  -webkit-filter: blur(8px);*/
  display: block;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  z-index: -1;
}

input.search{
  font-size: 1.2rem !important;
  color: #7B1313;
  /*border-color: #967C67;
  border-width: 2px !important;*/
}

input.search:focus{
  border-color: #624025 !important;
  box-shadow: none !important;
  /*border-width: 2px !important;*/
}

.lienzo{
  height: 100%;
  background-image: url(../img/lienzo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
